<header>
    <div class="header-container">
        <div class="logo">
            <a href="index.html">
                <img src="images/tentative logo 2.png" alt="TheWebConf 2026" class="logo-image">
            </a>
        </div>
        <div class="mobile-menu-toggle">
            <i class="fas fa-bars"></i>
        </div>
        <div class="main-nav-container">
            <div class="tab-menu-container">
                <ul class="tab-menu">
                    <li><a href="index.html" class="tab-home">Home</a></li>
                    <li>
                        <a href="about.html" class="tab-about has-dropdown">About</a>
                        <div class="dropdown">
                            <a href="about.html">The Web Conference</a>
                            <a href="about/logo.html">Logo</a>
                            <a href="about/code-of-conduct.html">Code of Conduct</a>
                            <a href="about/newsletters.html">Newsletters</a>
                        </div>
                    </li>
                    <li>
                        <a href="calls.html" class="tab-calls has-dropdown">Calls</a>
                        <div class="dropdown">
                            <a href="calls/research-tracks.html">Research Tracks</a>
                            <a href="calls/short-papers.html">Short Papers</a>
                            <a href="calls/industry.html">Industry</a>
                            <a href="calls/tutorials.html">Tutorials</a>
                            <a href="calls/workshops.html">Workshops</a>
                            <a href="#" class="has-submenu">Special Tracks ▶</a>
                            <div class="submenu">
                                <a href="calls/history-of-the-web.html">History of the Web</a>
                                <a href="calls/web4good.html">Web4Good</a>
                            </div>
                            <a href="calls/phd-symposium.html">Doctoral Consortium</a>
                            <a href="calls/web4all.html">Web4All</a>
                        </div>
                    </li>
                    <li>
                        <a href="accepted.html" class="tab-accepted has-dropdown">Accepted</a>
                        <div class="dropdown">
                            <a href="accepted/research-tracks.html">Research Tracks</a>
                            <a href="accepted/industry.html">Industry</a>
                            <a href="accepted/web4good.html">Web4Good</a>
                            <a href="accepted/short-papers.html">Short Papers</a>
                            <a href="accepted/demo.html">Demo</a>
                            <a href="accepted/resource.html">Resource</a>
                        </div>
                    </li>
                    <li>
                        <a href="program.html" class="tab-program has-dropdown">Program</a>
                        <div class="dropdown">
                            <a href="program/overview.html">Overview</a>
                            <a href="program/full-schedule.html">Full Schedule</a>
                            <a href="program/keynotes.html">Keynotes</a>
                            <a href="program/workshops.html">Workshops</a>
                            <a href="program/tutorials.html">Tutorials</a>
                            <a href="program/awards.html">Awards</a>
                            <a href="program/special-days.html">Special Days</a>
                            <a href="program/social-events.html">Social Events</a>
                            <a href="program/web4all.html">Web4All</a>
                            <a href="calls/history-of-the-web.html">History of the Web</a>
                        </div>
                    </li>
                    <li>
                        <a href="organization.html" class="tab-organization has-dropdown">Organization</a>
                        <div class="dropdown">
                            <a href="organization/organizing-committee.html">Organizing Committee</a>
                            <a href="organization/senior-area-chairs.html">Senior Area Chairs</a>
                            <a href="organization/area-chairs.html">Area Chairs</a>
                            <a href="organization/reviewers-research-tracks.html">Reviewers of Research Tracks</a>
                            <a href="organization/reviewers-various-tracks.html">Reviewers of Various Tracks</a>
                        </div>
                    </li>
                    <li>
                        <a href="attending.html" class="tab-attending has-dropdown">Attending</a>
                        <div class="dropdown">
                            <a href="attending/registration.html">Registration</a>
                            <a href="attending/venue.html">Venue</a>
                            <a href="attending/accommodation.html">Accommodation</a>
                            <a href="attending/visa.html">Visa</a>
                        </div>
                    </li>
                    <li><a href="media.html" class="tab-media">Media</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

